@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Zarzadzaj grupami uzytkowników";
}

<h2>Zarzadzaj uzytkownikami i grupami</h2>
<script src="~/lib/interact/dist/interact.js"></script>
<script>


    interact('.dropzone').dropzone({
        accept: '.yes-drop',
        overlap: 0.75,
        ondropactivate: function (event) {
            event.target.classList.add('drop-active');
        },
        ondragenter: function (event) {
            var draggableElement = event.relatedTarget,
                dropzoneElement = event.target;

            dropzoneElement.classList.add('drop-target');
            draggableElement.classList.add('can-drop');
        },
        ondragleave: function (event) {
            event.target.classList.remove('drop-target');
            event.relatedTarget.classList.remove('can-drop');
        },
        ondrop: function (event) {
            var a = event.target.getAttribute('id');
            var b = event.relatedTarget.getAttribute('id');
            AddUserToGroup(b,a);
        },
        ondropdeactivate: function (event) {
            event.target.classList.remove('drop-active');
            event.target.classList.remove('drop-target');
        }
    });
    interact('.draggable')
  .draggable({
      inertia: true,
      restrict: {
          restriction: "parent",
          endOnly: true,
          elementRect: { top: 0, left: 0, bottom: 1, right: 1 }
      },
      autoScroll: true,

      // call this function on every dragmove event
      onmove: dragMoveListener,
      // call this function on every dragend event
      //onend: function (event) {
      //    var textEl = event.target.querySelector('p');

      //    textEl && (textEl.textContent =
      //      'moved a distance of '
      //      + (Math.sqrt(event.dx * event.dx +
      //                   event.dy * event.dy) | 0) + 'px');
      //}
  });

    function dragMoveListener(event) {
        var target = event.target,
            x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx,
            y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy;

        target.style.webkitTransform =
        target.style.transform =
          'translate(' + x + 'px, ' + y + 'px)';
        target.setAttribute('data-x', x);
        target.setAttribute('data-y', y);
    }

    window.dragMoveListener = dragMoveListener;

    function AddUserToGroup(userName,groupName) {
        $.ajax({
            url: '@Url.Action( "AddUserToGroup","ApplicationRoles")',
            type: 'GET',
            dataType:'json',
            contentType: 'application/json;',
            data: { 'userName': userName, 'groupName': groupName },
            success: function (valid) {
                    if (valid) {
                        alert('Dzia³a');
                    } else {
                        alert('Nie dzia³a');
                    }
                }
            });
    }
    //function dajUzytkownikowDlaRoli(RoleName) {
    //    e.preventDefault();
    //    var data = [];
    //    $.getJSON("/ApplicationRoles/DajUzytkownikowDlaRoli", { groupName: RoleName },
    //function (data) {

    //    alert(data);
    //    data = $.map(data, function (item, a) {
    //       // return "<option value=" + item.NazwaModelu + ">" + item.NazwaModelu + "</option>";
    //        // return "<div id="+item.UserName+"class=draggable drag-drop yes-drop><p>"+item.UserName+"</p></div>"
    //        print ("<p>"+ item + "</p>");
    //    });
    //});
    //}


</script>
<style>


.dropzone {
  background-color: #ccc;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 80%;
  height: 80px;
  transition: background-color 0.3s;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.drag-drop {
  display: inline-block;
  min-width: 40px;
  padding: 2em 0.5em;

  color: #fff;
  background-color: #29e;
  border: solid 2px #fff;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #000;
  background-color: #4e4;
}








</style>

<p>
    <a asp-action="Create">Create New</a>
</p>



@foreach (var item in Model)
{
    <div id=@item.UserName class="draggable drag-drop yes-drop"> <p>@item.UserName</p> </div>
}
    <br  style="color:black"/>

    @foreach (var item in ViewBag.roleUzytkownicy)
    {
     <div id=@item.rola class="dropzone">@item.rola
    @foreach (var users in item.uzytkownicy)
    {
        <div id=@users.UserName class="draggable drag-drop yes-drop">
            @users.UserName
            </div>
        }
    </div>
     <br />
    }








@*<div id="no-drop" class="draggable drag-drop"> #no-drop </div>

<div id="yes-drop" class="draggable drag-drop"> #yes-drop </div>

<div id="outer-dropzone" class="dropzone">
    #outer-dropzone
    <div id="inner-dropzone" class="dropzone">#inner-dropzone</div>
</div>*@









